<h1>Cadastrar nova filial</h1>
<%= form_for @subsidiary do |f|%>
  <%= f.label :name%>
  <%= f.text_field :name%>
  <%= f.label :cnpj%>
  <%= f.text_field :cnpj%>
  <%= f.label :address%>
  <%= f.text_field :address%>
  <%= f.submit 'Enviar'%>
<%end%>