<h1>Cadastrar nova filia</h1>

<% @subsidiary.errors.full_messages.each do |massage|%>
  <p><%= massage%></p>
  
<%end%>

<%= form_for @subsidiary do |f|%>
  <%= f.label :name%><br>
  <%= f.text_field :name %><br>
  <%= f.label :cnpj%><br>
  <%= f.text_field :cnpj%><br>
  <%= f.label :address%><br>
  <%= f.text_field :address%><br>
  <%= f.submit 'Enviar'%>
<%end%>