<h1>Detalhes da filial</h1>
<p><%="Filial: #{@subsidiary.name}"%></p>
<p><%= "cnpj: #{@subsidiary.cnpj}"%></p>
<p><%= "Endereço: #{@subsidiary.address}"%></p>
<%= link_to 'Editar', edit_subsidiary_path(@subsidiary)%>
<%= link_to 'Voltar', subsidiaries_path%>