<h1>Detalhes da filial</h1>
<p><%= @subsidiary.name%></p>
<p><%= @subsidiary.cnpj%></p>
<p><%= @subsidiary.address%></p>
<%= link_to 'Editar', edit_subsidiary_path(@subsidiary)%>
<%= link_to 'Voltar', subsidiaries_path%>