<h1>Rental Cars</h1>
<p>Bem vindo ao sistema de gestão de locação</p>
<ul>
  <li><%= link_to 'Fabricantes', manufacturers_path%></li>
  <li><%= link_to 'Filiais', subsidiaries_path%></li>
  <li><%= link_to 'Categorias de carro', car_categories_path%></li>
  <li><%= link_to 'Clientes',customers_path%></li>
  <li><%= link_to 'Modelos de carros',car_models_path%></li>
  <li><%= link_to 'Locações', rentals_path %></li>
</ul>