<h1>Cadastrar novo cliente</h1>

<% @customer.errors.full_messages.each do |message|%>
  <p><%= message %></p>
<%end%>
<%= form_for @customer do |f|%>
  <%= f.label :name%><br>
  <%= f.text_field :name%><br>
  <%= f.label :cpf%><br>
  <%= f.text_field :cpf%><br>
  <%= f.label :email%><br>
  <%= f.text_field :email%><br>
  <%= f.submit 'Enviar'%>
<%end%>