<h1>Cadastrar categoria de carro</h1>

<% @car_category.errors.full_messages.each do |message|%>
  <p><%= message %></p>
<%end%>

<%= form_for @car_category do |f|%>
  <%= f.label :name, 'Modelo'%><br>
  <%= f.text_field :name%><br>
  <%= f.label :daily_rate, 'Preço da diaria'%><br>
  <%= f.text_field :daily_rate%><br>
  <%= f.label :car_insurance, 'Preço do seguro'%><br>
  <%= f.text_field :car_insurance%><br>
  <%= f.label :third_part_insurance, 'Preço do seguro para terceiro'%><br>
  <%= f.text_field :third_part_insurance%><br>
  <%= f.submit 'Enviar'%>
<%end%>