<h1>Cadastrar categoria de carro</h1>

<% @car_category.errors.full_messages.each do |message|%>
  <p><%= message %></p>
<%end%>

<%= form_for @car_category do |f|%>
  <%= f.label :name, 'Nome'%><br>
  <%= f.text_field :name%><br>
  <%= f.label :daily_rate, 'Diaria'%><br>
  <%= f.text_field :daily_rate%><br>
  <%= f.label :car_insurance, 'Seguro'%><br>
  <%= f.text_field :car_insurance%><br>
  <%= f.label :third_party_insurance, 'Terceira parte do seguro'%><br>
  <%= f.text_field :third_party_insurance%><br>
  <%= f.submit 'Enviar'%>
<%end%>