<p><%= @car_category.name%></p>
<p><%= @car_category.daily_rate%></p>
<p><%= @car_category.car_insurance%></p>
<p><%= @car_category.third_party_insurance%></p>


<%= link_to 'Voltar', car_categories_path%>
