<h1>Detalhes de locacao</h1>

<p><%= "Data de inicio: #{l @rental.start_date}" %></p>
<p><%= "Data de termino: #{l @rental.end_date}" %></p>
<p><%= "Cliente: #{@rental.customer.name}" %></p>
<p><%= "Categoria: #{@rental.car_category.name}" %></p>
<p><%= "Codigo: #{@rental.code}" %></p>

<% if @rental.car_rental%>
  <p>Usuario que iniciou: <%= @rental.car_rental.user.email %></p>
  <p>Data/Hora de inicio: <%= l(@rental.car_rental.created_at, format: :long) %></p>
  <p>Placa: <%= @rental.car_rental.car.license_plate%></p>
  <% if @rental.ongoing?%>
    <p>Em progresso</p>
  <% end %>
  <p>Email do cliente <%= @rental.customer.email %></p>
  <p>Nome do cliente: <%= @rental.customer.name %></p>
<% end %>
<%= link_to 'Iniciar', new_rental_car_rental_path(@rental) %>
<%= link_to 'Voltar', rentals_path %>