<h1>Cadastrar nova empresa</h1>
<% @manufacturer.errors.full_messages.each do |massage|%>
  <p><%= massage %></p>
<%end%>


<%= form_for @manufacturer do |f|%>
  <%= f.label :name, 'Nome'%><br>
  <%= f.text_field :name%><br>
  <%= f.submit 'Enviar'%>
<%end%>