<h1>Cadastrar nova empresa</h1>

<% @manufacturer.errors.full_messages.each do |message|%>
  <p><%= message %></p>
<%end%>


<%= form_for @manufacturer do |f|%>
  <%= f.label :name %><br>
  <%= f.text_field :name%><br>
  <%= f.submit 'Enviar'%>
<%end%>